body
{
    margin: 0;
    padding: 5px;
    position: relative;
    font-size: 15px;
}

#main_container
{
    max-width: 70%;
    height: 100%;
}

#comments_block
{
    margin-bottom: 20px;
}

#comments_form_block
{
    height: 490px;
}

.container #comments_form_block input
{
    width: 320px;
}

.row_right textarea
{
    height: 122px;
}

.row_left
{
    min-width: 320px;
    width: 20%;
}

.row_right
{
    padding: 0;
    padding-left: 1.25rem;
    width: 60%;
    word-wrap: break-word;
}

.row_left .btn
{
    margin-right: 10px;
}

.row
{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    background-color: #fff;
    margin-top: 10px;
    padding: 10px;
}

#admin_buttons
{
    margin-top: 1rem;
}

.invisible
{
    display: none;
}
